bookingTime.json
{
  "name": "bookingTime",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1af39d29-b5e8-49d0-ac66-44fcd99c572d",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        -32
      ],
      "id": "b4bd78e9-4bd3-478f-a71d-65e61b831b8a",
      "name": "Webhook",
      "webhookId": "1af39d29-b5e8-49d0-ac66-44fcd99c572d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -240,
        -32
      ],
      "id": "2b0541f6-c76d-4e8f-9e05-72b2cf12adfc",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Book the user’s specified meeting using the 'Calendar' tool and the provided {{ $('Webhook').item.json.body.date }} and {{ $('Webhook').item.json.body.Time }}  \nThe meeting will last a duration of only 30 minutes \n \n{{ $json.currentDate }}\n",
        "options": {
          "systemMessage": "Configure the output to have the following structure:\n1. Success Message\n2. Confirmed Meeting date and time\n\nExample:\nThe meeting has been successfully scheduled for March 17, 2025, from 2:00 PM to 2:30 PM."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -64,
        -32
      ],
      "id": "6590ed55-7896-48b9-b44e-3e50b2c0cd4d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -64,
        176
      ],
      "id": "128a6e5a-a813-49f6-8747-40ca7597a6e5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "iXITcCrv951t5qd4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "ayesha.colabarmy@gmail.com",
          "mode": "list",
          "cachedResultName": "ayesha.colabarmy@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {
          "attendees": [
            "={{ $('Webhook').item.json.body.email }}"
          ],
          "summary": "={{ $('Webhook').item.json.body.fullName }} and Appointment Demo Call"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        80,
        176
      ],
      "id": "e3ea496c-94b2-4904-baa7-ea4cd6141420",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "VI2WNTjuODlQeKWz",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        256,
        -32
      ],
      "id": "432775af-299d-42a1-80d0-ca6e1cf65d6b",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0b4b9a92-ffc2-4dc4-b9ba-cab5f1c00e17",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "864e669af0dc400ca19e32c52826d5d1295486e34171c64b98fa53940212a22c"
  },
  "id": "wWxILr23mzmpBR02",
  "tags": []
}